<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Trifork Health check Example</display-name>
    <description>Trifork Health check Example ~ showing what you can do with the health check</description>

    <servlet>
        <servlet-name>PingServlet</servlet-name>
        <servlet-class>nl.trifork.healthcheck.example.ExampleServlet</servlet-class>
        <init-param>
            <param-name>pinglevel</param-name>
            <param-value>THOROUGH</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>VersionServlet</servlet-name>
        <servlet-class>nl.trifork.healthcheck.servlet.VersionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PingServlet</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VersionServlet</servlet-name>
        <url-pattern>/version</url-pattern>
    </servlet-mapping>

</web-app>